/* body */
.page {
  background: #e5e5e5;
  color: var(--primary-text-color);
}

/* header */
.page-header {
  background: var(--h3-color);
}

/* logo */
.logo {
  text-decoration: none;
  color: #000000;
  /* font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px; */
  /* identical to box height */

  /* letter-spacing: 0.03em; */
}

.logo-web {
  color: var(--accent-color);
}

/* site-nav */

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* auth-nav */
.auth-nav .link {
  color: var(--text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background: rgba(47, 48, 58, 0.8);
}

.hero > .section-title {
  color: var(--h3-color);
}

/* section */
/* !!! */
.section-title {
  color: red;
}

/* features section */
.feature-list img:hover {
  background: var(--accent-color);
}

.feature-list p {
  color: var(--text-color);
}

/* work section */
.work h3 {
  color: var(--h3-color);
}

/* command section */
.command p {
  color: var(--text-color);
}

.command .social a:hover,
.command .social a:focus {
  background-color: var(--accent-color);
}

/* clients section */
/* !!! */
.clients a:hover,
.clients a:focus {
  background-color: var(--accent-color);
}

/* page-footer */
.auth-nav .auth-nav-map {
  color: var(--h3-color);
}
.page-footer {
  background: #2f303a;
}

.page-footer .text {
  color: var(--h3-color);
}

/* button */

.button {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  /* font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 2764px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
}

.button.primary {
  color: var(--h3-color);
}

.hero-portfolio .button.secondary {
  background: var(--bg-secondary-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--h3-color);
  background-color: var(--accent-color);
}

/* portfolio */
.project p {
  color: var(--text-color);
}

.text-down {
  color: rgba(255, 255, 255, 0.4);
}
